HL_PRIVATE_KEY=
HL_EXCHANGE_ADDRESS=
HL_ADDRESS=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=7528130947

DRY_RUN=true
STARTING_EQUITY_USD=20

RISK_PCT_MIN=0.05
RISK_PCT_MAX=0.15
MAX_DAILY_LOSS_PCT=0.25
LEVERAGE=5
MAX_CONCURRENT_POSITIONS=1
